.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customLoader {
  width: 80px;
  height: 20px;
  color: #6C2DAE;
  background:
    radial-gradient(farthest-side,currentColor 90%,#0000) left  /20px 20px,
    radial-gradient(farthest-side,currentColor 90%,#0000) center/20px 20px,
    radial-gradient(farthest-side,currentColor 90%,#0000) right /20px 20px,
    linear-gradient(currentColor 0 0) center/100% 8px; 
  background-repeat: no-repeat;
  position: absolute; /* o absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: s6 2s infinite linear;
}

.customLoader:before,
.customLoader:after {
  content: "";
  position: absolute;
  inset:0;
  background:inherit;
  animation:inherit;
  --s:calc(50% - 10px);
  animation-direction: reverse;
}

.customLoader:after {
  --s:calc(10px - 50%);
}

@keyframes s6 {
  0%   {transform: translate(var(--s,0)) rotate(0)}
  100% {transform: translate(var(--s,0)) rotate(1turn)}
}
