@font-face {
  font-family: 'zrnic';
  src: url('../../../fonts/zrnic\ rg.ttf');
}

.landing {
    background-image: url('https://wallpaperaccess.com/full/2645205.jpg');
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
  }
  
  .spinner {
    width: 40px;
    text-align: center;
  }
  
  .spinner > div {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: spinner-bounce 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    animation-delay: -0.16s;
  }
  
  @keyframes spinner-bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.0);
    }
  }
  
  .content {
    color: #e4e4e4;
    font-family: 'zrnic', sans-serif;
    font-weight: lighter;
    display:table-row-group;
    justify-content:space-between;
  background-color: #1f1e1ea8;
    padding: 50px;
    border-radius: 20px;
    border: 3px solid black;
  }
  

  .button {
    background: #595959;
    background-image: -webkit-linear-gradient(top, #595959, #2bb85a);
    background-image: -moz-linear-gradient(top, #595959, #2bb85a);
    background-image: -ms-linear-gradient(top, #595959, #2bb85a);
    background-image: -o-linear-gradient(top, #595959, #2bb85a);
    background-image: linear-gradient(to bottom, #595959, #2bb85a);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 7px 6px 30px #780478;
    -moz-box-shadow: 7px 6px 30px #780478;
    box-shadow: 7px 6px 30px #780478;
    font-family: Arial;
    color: #000000;
    font-size: 45px;
    padding: 8px 20px 10px 20px;
    border: solid #121517 9px;
    text-decoration: none;
    font-family: 'zrnic', sans-serif;
  }
  
  .button:hover {
    background: #9d06b8;
    background-image: -webkit-linear-gradient(top, #9d06b8, #07a82f);
    background-image: -moz-linear-gradient(top, #9d06b8, #07a82f);
    background-image: -ms-linear-gradient(top, #9d06b8, #07a82f);
    background-image: -o-linear-gradient(top, #9d06b8, #07a82f);
    background-image: linear-gradient(to bottom, #9d06b8, #07a82f);
    text-decoration: none;
  }

  
  .content:hover {
    color:#333;
    background: linear-gradient(to right, #FF4136, #FF851B, #FFDC00, #2ECC40, #0074D9, #B10DC9);
    background-size: 600% 100%;
    border: 2px solid #fff;
    animation: gradient 3s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  